* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
}

.grid {
	display: block;
  overflow:  hidden;
  position: fixed;
  width: 50vw;
  height: 50vh;
  object-fit: cover;
}

.grid__top-left { 
	top: 0;
	left: 0;
}
.grid__top-right {
	top: 0; 
	right: 0;
}
.grid__bottom-left {
	bottom: 0;
	left: 0;
}
.grid__bottom-right {
	bottom: 0;
	right: 0;
}


.grid-header {
	padding: 15px;
	margin: 0;
	font-size: 16px;
	background: #f0f0f0;
	overflow: hidden;
}

.data-list {
	margin: 0;
	padding: 10px 0px;
}
.data-list-element {
	list-style: none;
	display: block;
	overflow: hidden;
	color: #333;
	font-size: 14px;
	padding: 5px 15px;
}

.data-list-element:nth-child(2n+1) {
	background: #fcfcfc;
}

.data-list-element strong {
	font-size: 15px;
}

.data-list-element-timestamp {
	float: right;
	color: #999;
}

.data-list-trans-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.data-list-trans-enter.data-list-trans-enter-active {
  opacity: 1;
}

.data-list-trans-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.data-list-trans-leave.data-list-trans-leave-active {
  opacity: 0.01;
}

.chart-canvas {
	margin: 5px;
}

.js-new-data-btn {
	float: right;
}

